html {
  scroll-behavior: smooth;
}

p {
	font-family: noort, 'Georgia', serif;
	font-size: 18px;
	line-height: 26px;
}

li {
	font-family: noort, 'Georgia', serif;
	font-size: 18px;
	line-height: 26px;
	padding-top: 4px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: obviously-narrow, sans-serif;
}

h3 {
	padding-bottom: 1em;
}

header {
	font-family: obviously-narrow, sans-serif;

	font-weight: 400;
	font-style: normal;
	margin-bottom: 6em;
	text-align: left;
}

.btn {
	font-family: obviously-narrow, sans-serif;
	font-weight: 400;
	font-size: 18px;
	padding-bottom: 12px;
}

a {
	color: black;
	text-decoration: underline;
	text-decoration-color: black;
	text-decoration-thickness: .14em;
	text-underline-offset: 3px;
	transition: 0.2s;
}

a:hover {
	color: #15569C;
	text-decoration: underline;
	text-decoration-color: #15569C;
	text-decoration-thickness: .14em;
	text-underline-offset: 3px;
	transition: 0.2s;
}

.bgnav {
	background: rgb(255,255,255);
	background: -moz-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.66) 25%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.66) 25%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
	background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.66) 25%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

.orange {
	color: #FAA41A;
}

.section-header {
	padding-bottom: 1em;
}

.entry {
	background-color: #E0E0E0;
	padding: 8px;
	margin-top: 12px;
	margin-bottom: 16px;
	transition: 0.5s;
}

.entry:hover {
	background-color: #F8F9FA;
	transition: 0.5s;
}

.section {
	padding-bottom: 3em;
	padding-top: 3em;
}

.headScroll {
	padding-left: 3em;
	padding-top: 1em;
}

#topHead {
	padding-top: 2em;
	padding-bottom: 1em;
	padding-left: 3em;
}

.entryTitle {
	font-family: noort, 'Georgia', serif;
	font-size: 18px;
	line-height: 22px;
}


.tags {
	font-family: obviously, system-ui, sans-serif;
	font-size: 12px;
	line-height: 14px;
}

.expTitle {
	margin-bottom: 24px;
}

.award {
	font-family: obviously, system-ui, sans-serif;
	font-size: 12px;
	line-height: 14px;
}

.colophon {
	font-family: noort, 'Georgia', serif;
	font-size: 14px;
	line-height: 18px;
}

a.entryWrapper {
	color: black;
	text-decoration: none;
}

.blue {
	color: #15569C;
}

.social {
	margin-left: 10px;
}

.socialBtn {
	padding-top: 10px;
}

.kurt {
	font-family: noort, 'Georgia', serif;
	font-size: 14px;
	line-height: 16px;
	padding-top: ;
	hanging-punctuation: first;
	color: #AFAFAF;
	text-align: left;
}

#partFour {
	padding-top: 6em;
}

.proExp {
	padding-top: 2em;
}

.nav-item a {
	color: black !important;
	margin-right: -5px;
}

.nav-link a:hover {
	color: color: #15569C !important;
}

	@media (min-width: 768px) {
	
		.wide-right {
			padding-top: 15px;
			padding-bottom: 30px;
			padding-left: 25px;
			margin-right: -30%;
			float: right;
			width: 40%;
			text-align: left;
			
		}

		.wide-left {
			padding-top: 15px;
			padding-bottom: 30px;
			padding-right: 25px;
			margin-left: -30%;
			float: left;
			width: 40%;
			text-align: right;
			
		}

		.wide-left p {
			font-family: obviously, system-ui, sans-serif;
			font-size: 12px;
			line-height: 18px;
		}

		.wide-right p {
			font-family: obviously, system-ui, sans-serif;
			font-size: 12px;
			line-height: 18px;
		}

		.branding {
			font-size: 28px;
		}

		.bgnav {
			padding-left: 3em; padding-right: 3em; padding-top: 1em; padding-bottom: 1em
		}

		.container-fluid {
	padding-left: 3em;
	padding-right: 3em;
}
	}

	@media (max-width: 767px) {
		.big-image, .wide-right, .wide-left {
			padding-top: 25px;
			padding-bottom: 25px;
			font-family: obviously, system-ui, sans-serif;
			font-size: 12px;
			line-height: 14px;
		}

		.wide-left p {
			padding-bottom: 25px;
			font-family: obviously, system-ui, sans-serif;
			font-size: 14px;
			line-height: 22px;
		}

		.wide-right p {
			padding-bottom: 25px;
			font-family: obviously, system-ui, sans-serif;
			font-size: 14px;
			line-height: 22px;
		}

		.bgnav {
			background-color: white;
			padding-left: 1em; padding-right: 1em; padding-top: .5em; padding-bottom: .5em
		}

		.entry {
			padding-top: 36px;
		}

		.container-fluid {
			padding-left: 1em;
			padding-right: 1em;
		}
	}

.customTop {
	margin-bottom: 2em;
}

.card-text {
	font-family: obviously, sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.obv li {
	font-family: obviously, sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.navbtn {
	padding-top: 6px;
	font-size: 16px;
	text-decoration: none;
	color: black;
}

.navbtn:hover {
	padding-top: 10px;
	font-size: 16px;
	text-decoration: none;
}

@media (min-width: 576px) {
  .navbtn {
    display: none;
  }
}
